In [1]:
#Global and Local variable
f=10
def func():
    f='Hi'
    print f
    
func()
print f

Hi
10

In [2]:
f=10
def func():
    global f
    f='Hi'
    print f
    
func()
print f

Hi
Hi

In [3]:
def sum(a,b):
    c=a+b
    return c
print sum(2,3)

5

In [4]:
#special cases
def power(n,x=1):
    return n**x
print power(5,2)
print power(10)
print power(x=2,n=7)

25
10
49

In [8]:
def multi(*args):
    result=0
    for i in args:
        result+=i
    return result

print multi(2,4,6,7)
print multi(4,5,8,6,9,10)
print multi(2)

19
42
2

In [29]:
n=153


def func(n):
    sum1=0
    temp=n
    while(n>0):
        rem=n%10
        sum1+=rem**3
        n=n//10
    
    if temp==sum1:
        print ('Armstrong Num',sum1)
    else:
        print ('Not Armstrong NUm',sum1)

func(n)
print f

('Armstrong Num', 153)
153

In [59]:
#Odd or Even
n=2
def odd(n):
    if n%2==0:
        print ('even',n)
    else:
        print ('odd',n)
odd(n)
print odd

('even', 2)
<function odd at 0x0000000005323438>

In [66]:
import random
def random(n):
    print(random.randint(100,999))
    
    random(n)
print random

<function random at 0x00000000053237B8>

In [81]:
import random
random.randint(100,999)

940

In [95]:
r=[]
for i in range(10):
    r.append(random.randint(100,1000))
print r

[205, 877, 224, 156, 530, 963, 429, 249, 435, 538]

In [103]:
for i in r:
    odd(i)

('odd', 205)
('odd', 877)
('even', 224)
('even', 156)
('even', 530)
('odd', 963)
('odd', 429)
('odd', 249)
('odd', 435)
('even', 538)

In [82]:
#Tricks in python
a,b,c=2,4,6
print a
print b
print c

2
4
6

In [84]:
print(a,b)
a,b=b,a
print a,b

(2, 4)
4 2

In [89]:
a,b=0,1
print a
for _ in range(10):
    print b
    a,b=b,a+b

0
1
1
2
3
5
8
13
21
34
55
89

In [1]:
#Data and Time
#Method -1
from datetime import date

now=date.today()
print(now)

birthday=date(1995,9,26)
age=now-birthday
print(age)

2018-12-03
8469 days, 0:00:00

In [2]:
#Method -2
import datetime

now=datetime.date.today()
print(now)

birthday=datetime.date(1995,9,26)
age=now-birthday
print(age)

2018-12-03
8469 days, 0:00:00

In [3]:
dir(age)

['__abs__',
 '__add__',
 '__class__',
 '__delattr__',
 '__div__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__pos__',
 '__radd__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'days',
 'max',
 'microseconds',
 'min',
 'resolution',
 'seconds',
 'total_seconds']

In [4]:
age.days(365)

TypeError: 'int' object is not callable

In [5]:
Rajesh=date(1995,9,26)
JoeJoel=date(1996,10,29)

if(Rajesh>JoeJoel):
    print 'Rajesh is elder'
else:
    print 'JoeJoel is elder'

JoeJoel is elder

In [6]:
from time import time

start =time()

Rajesh=date(1995,9,26)
JoeJoel=date(1996,10,29)

if(Rajesh>JoeJoel):
    print 'Rajesh is elder'
else:
    print 'JoeJoel is elder'
end=time()

print(end-start)

JoeJoel is elder
0.00100016593933

In [7]:
time()

1543816099.466

In [8]:
from datetime import datetime
datetime.utcnow()

datetime.datetime(2018, 12, 3, 5, 49, 2, 760000)

In [10]:
#Date object to string
Rajesh=date(1995,9,26)
Rajesh, Rajesh.strftime("%d-%m-%Y %H:%M:%S")

(datetime.date(1995, 9, 26), '26-09-1995 00:00:00')

In [ ]:
from Ipython.display import IFrame
IFrame("url link",widht="",Height="")

In [15]:
#string to date object
from datetime import datetime
dateString="29/09/1995"

d=datetime.strptime(dateString,"%d/%m/%Y")
d

datetime.datetime(1995, 9, 29, 0, 0)

In [22]:
from dateutil.parser import parse

dt=parse('Mon 03 Dec 2018')

print(dt)
print(dt.strftime("%d/%m/%Y"))

2018-12-03 00:00:00
03/12/2018

In [23]:
from datetime import timedelta
print d

d+timedelta(days=15)

1995-09-29 00:00:00

datetime.datetime(1995, 10, 14, 0, 0)

In [34]:
ind=datetime(2018,9,3)
print ind.day,ind.month,ind.year

 3 9 2018

In [26]:
dir(ind)

['__add__',
 '__class__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']